<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    
</head>
<body>
	<div class="container">
		<div class="col-xs-9">
			<h1>Books</h1>
		</div>
		<div class="col-xs-3" style="padding:5px 0px 5px 5px" th:align="left">
			<h5 th:inline="text" th:align="center" ><b>User: [[${#httpServletRequest.remoteUser}]]</b></h5>
			<form th:action="@{/logout}" method="post" th:align="center">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
			</form>
		</div>

		<div class="col-xs-12">
			<table class="table table-striped">
				<tr>
				    <th>Title</th>
				    <th>Author</th>
				    <th>ISBN</th>
				    <th>Year</th>
				   	<th>Category</th>
				    <th>Actions</th>
				</tr>
				<tr th:each="book : ${books}">
					<td th:text="${book.title}" />
					<td th:text="${book.author}" />
					<td th:text="${book.isbn}" />
					<td th:text="${book.bookYear}" />
					<td th:text="${book.category.name}" />
					<td >
						<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/delete/book/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>
					    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/edit/book/{id}(id=${book.id})}" class="btn btn-primary">Edit</a>
					</td>
		    	</tr>
		    </table>
		    <br />
			<a sec:authorize="hasAuthority('ADMIN')" href="/addbook" class="btn btn-success">Add Book</a>    
		</div>
	</div>
</body>
</html>