<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Booklist</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="col-xs-9">
			<h1>Edit book</h1>
		</div>
		<div class="col-xs-3" style="padding:5px 0px 5px 5px" th:align="left">
			<h5 th:inline="text" th:align="center" ><b>User: [[${#httpServletRequest.remoteUser}]]</b></h5>
			<form th:action="@{/logout}" method="post" th:align="center">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
			</form>
		</div>

		<div class="col-xs-12">
		<form action="#" th:object="${book}" th:action="@{/savebook}" method="post">
				<input type="hidden" id="id" th:field="*{id}" />
				<table class="table table-striped">
					<tr>
						<td>Title</td>
						<td><input type="text" th:field="*{title}" /></td>
						<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</td>
					</tr>
					<tr>
						<td>Author</td>
						<td><input type="text" th:field="*{author}" /></td>
						<td th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</td>
					</tr>
					<tr>
						<td>Year</td>
						<td><input type="text" th:field="*{bookYear}" /></td>
						<td th:if="${#fields.hasErrors('bookYear')}" th:errors="*{bookYear}">Error</td>
					</tr>
					<tr>
						<td>ISBN</td>
						<td><input type="text" th:field="*{isbn}" /></td>
						<td th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Error</td>
					</tr>
					<tr>
						<td>Price</td>
						<td><input type="number" step="0.01" th:field="*{price}" /></td>
						<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</td>
					</tr>
					<tr>
						<td>Category</td>
						<td><select id="catlist" th:field="*{category}" class="form-control">
	       						<option th:each="category: ${categories}" th:value="${category.catid}" th:text="${category.name}" />
	    					</select></td>
						<td></td>
					</tr>
				</table>
				
				<div style="clear: both; display: block; height: 10px;"></div>
				<input type="submit" value="Save" sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary" />
			</form>
		</div>
	</div>
</body>
	
</html>