<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>User list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="col-xs-9">
			<h1>Users</h1>
		</div>
		<div class="col-xs-3" style="padding:5px 0px 5px 5px" th:align="left">
			<h5 th:inline="text" th:align="center" ><b>User: [[${#httpServletRequest.remoteUser}]]</b></h5>
			<form th:action="@{/logout}" method="post" th:align="center">
				<a href="/main" class="btn btn-sm btn-success">Menu</a>
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
			</form>
		</div>
		
		<div class="col-xs-12">
	
			<table class="table table-striped">
				<tr>
				    <th>First name</th>
				    <th>Last name</th>
				    <th>Role</th>
				    <th>Username</th>
				    <th>Password Hash</th>
				    <th>Actions</th>
				</tr>
				<tr th:each="user : ${users}">
					<td th:text="${user.firstName}" />			
					<td th:text="${user.lastName}" />			
					<td th:text="${user.role}" />			
					<td th:text="${user.username}" />			
					<td sec:authorize="hasAuthority('ADMIN')" th:text="${user.passwordHash}"></td>
					<td sec:authorize="hasAuthority('USER')" />		
					<td> 
						<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/delete/user/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
					    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/edit/user/{id}(id=${user.id})}" class="btn btn-primary">Edit</a>
					</td>
					
		    	</tr>
		    </table>
     		<br />
			<a sec:authorize="hasAuthority('ADMIN')" href="/adduser" class="btn btn-success">Add User</a>
		</div>
	</div>
</body>
</html>